/* Navigation */
.container {
    max-width: 90%;
}

.yasqe .CodeMirror { 
    min-height: 400px;
}

#blocklyDiv {
    height: 400px;
    max-width: 900px;
}

.navbar {
    margin-bottom: 1%;
}

.divider {
    height: 3rem;   
}

.title {
    height: 1rem;
    display: flex;
    background-color: lightgray;
    padding: 1rem;
    margin-bottom: 1%;
}
